<div class="container">
   <div class="card w-100 mt-3">
       <div class="card-title text-center">
            <h3 class="font-weight-bold mb-3 mt-3 black-text">Welcome to Star Wars Game Show Castings</h3>
            <img class="img-fluid w-75" src="/assets/images/george-lucas-star-wars.jpg">
       </div>
       <div class="card-body text-center">
		<!--Accordion wrapper-->
		<div class="accordion md-accordion accordion-1" id="accordionEx23" role="tablist">
		  <div class="card">
		    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading96">
		      <h5 class="text-uppercase mb-0 py-1">
		        <a class="black-text font-weight-bold" data-toggle="collapse" href="#collapse96" aria-expanded="true"
		          aria-controls="collapse96">
		          Basic Functionalities
		        </a>
		      </h5>
		    </div>
		    <div id="collapse96" class="collapse show" role="tabpanel" aria-labelledby="heading96"
		      data-parent="#accordionEx23">
		      <div class="card-body">
		        <div class="row my-4">
		          <div class="col-md-8 flow-text text-left">
		            <p><i class="fa fa-star text-info"></i> Casting Managers can register prospective contestants.</p>
		            <p><i class="fa fa-star text-info"></i> First name, last name, date of birth, mobile phone, country of residence and the Star Wars character are included.</p>
                    <p><i class="fa fa-star text-info"></i> Casting Managers can modify contestants information.</p>
                    <p><i class="fa fa-star text-info"></i> Casting Managers can delete contestants information.</p>
                    <p><i class="fa fa-star text-info"></i> Contestants should be at least 18 years old.</p>
                    <p><i class="fa fa-star text-info"></i> Contestants should reside in Spain.</p>
                    <p><i class="fa fa-star text-info"></i> The Star Wars characters can be loaded from SWAPI (Star Wars API).</p>
		          </div>
		          <div class="col-md-4 mt-3 pt-2">
		            <div class="view z-depth-1">
		              <img src="/assets/images/sw1.jpg" alt="" class="img-fluid">
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading97">
		      <h5 class="text-uppercase mb-0 py-1">
		        <a class="collapsed font-weight-bold black-text" data-toggle="collapse" href="#collapse97"
		          aria-expanded="false" aria-controls="collapse97">
		          Bonus Functionalities
		        </a>
		      </h5>
		    </div>
		    <div id="collapse97" class="collapse" role="tabpanel" aria-labelledby="heading97"
		      data-parent="#accordionEx23">
		      <div class="card-body">
		        <div class="row my-4">
		          <div class="col-md-8 flow-text text-left">
		            <p><i class="fa fa-trophy text-danger"></i> Website deployed in Google Firebase (not in Heroku).</p>
		            <p><i class="fa fa-trophy text-info"></i> Responsive design - Usable on mobile phone explorers (Safari, Chrome).</p>
		            <p><i class="fa fa-trophy text-info"></i> Sort contestants alphabetically by their last name.</p>
		            <p><i class="fa fa-trophy text-info"></i> Upload a photo as a part of the contestant creation.</p>
		            <p><i class="fa fa-trophy text-info"></i> Sign up/sign in process for casting managers.</p>
		          </div>
		          <div class="col-md-4 mt-3 pt-2">
		            <div class="view z-depth-1">
		              <img src="/assets/images/sw2.jpg" alt="" class="img-fluid">
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>

		  <div class="card">
		    <div class="card-header blue lighten-3 z-depth-1" role="tab" id="heading98">
		      <h5 class="text-uppercase mb-0 py-1">
		        <a class="collapsed font-weight-bold black-text" data-toggle="collapse" href="#collapse98"
		          aria-expanded="false" aria-controls="collapse98">
		          Extra Functionalities
		        </a>
		      </h5>
		    </div>
		    <div id="collapse98" class="collapse" role="tabpanel" aria-labelledby="heading98"
		      data-parent="#accordionEx23">
		      <div class="card-body">
		        <div class="row my-4">
		          <div class="col-md-8 flow-text text-left">
		            <p><i class="fa fa-wrench text-info"></i> Cache in LocalStorage for the characters taken from SWAPI.</p>
		            <p><i class="fa fa-wrench text-info"></i> Casting managers can modify their profile.</p>
		            <p><i class="fa fa-wrench text-info"></i> Animation of the imperial soldier helmet instead of classical spinner.</p>
		            <p><i class="fa fa-wrench text-info"></i> Google Captchas to improve security in forms.</p>
		            <p><i class="fa fa-wrench text-info"></i> Contestants phone field is fully functional in mobile phones.</p>
		            <p><i class="fa fa-wrench text-info"></i> Contestants email field is fully functional.</p>
		          </div>
		          <div class="col-md-4 mt-3 pt-2">
		            <div class="view z-depth-1">
		              <img src="/assets/images/sw3.jpg" alt="" class="img-fluid">
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<!--Accordion wrapper-->           
       </div>
           
   </div>
</div>   