<div id="not-found-container" class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <div class="card">
                <div class="card-body">
                    <img class="img-fluid" src="/assets/images/darthvader.png">
                    <h1>Page not found!</h1>  
                </div>
            </div>         
        </div>
    </div>
</div>